<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntels.ccbs.batch.iv.dao.mapper.NBlivb01m08MapperMapper">

	<!-- 청구전 요금 조정 대상 조회 쿼리 자사매출 -->
	<select id="getAdjInfoBeforeBillList" resultType="billWork">
		SELECT /* INDEX(A IX_TBLIV_CHRG_ADJ_APLY_06) */
		       A.ADJ_NO
		     , K.BILL_SEQ_NO
		     , CASE J.USE_MM_TYP WHEN '0' THEN #{billYymm} ELSE #{useYymm} END AS USE_YYMM 
		     , B.PROD_CMPS_ID
		     , B.SVC_CMPS_ID
		     , B.CHRG_ITM_CD
		     , #{billYymm}           AS BILL_YYMM
		     , #{billCycl}           AS BILL_CYCL
		     , #{billDt}             AS BILL_DT
		     , B.SO_ID               
		     , B.GRP_ID              
		     , A.PYM_ACNT_ID         
		     , C.CUST_ID             
		     , B.CTRT_ID             
		     , J.PROD_CD             
		     , J.SVC_CD              
		     , NULL BIZ_CL           
		     , J.PROD_GRP            
		     , J.SVC_GRP             
		     , J.USE_MM_TYP          AS BILL_MM_TP
		     , '01' SALE_TP          
		     , #{payDueDt}           AS PAY_DUE_DT
		     , 'N'                   AS FULL_PAY_YN
		     , CASE WHEN MAX(C.ORG_ID) IS NULL THEN 'CCBS' ELSE MAX(C.ORG_ID) END AS ATRT_CORP_ID
		     , CASE WHEN MAX(C.USR_ID) IS NULL THEN ' '    ELSE MAX(C.USR_ID) END AS ATRT_EMP_ID
		     , B.CRNCY_CD
		     , MAX(B.EXRATE)         AS EXRATE
		     , MAX(B.EXRATE_APLY_DT) AS EXRATE_APLY_DT
		     , 'N' DEBT_PROC_YN
		     , SUM(B.ADJ_APPL_AMT)   AS ADJ_APPL_AMT
		     , 'NBliv01m08' CHGR_ID
		FROM   TBLIV_CHRG_ADJ_APLY     A
		     , TBLIV_CHRG_ADJ_APLY_DTL B
		     , IFNBRM_CTRT_INFO        C
		     , IFNBRM_PROD_INFO        J
		     , TSYCO_CODE_DETAIL       Z
		     , TBLIV_BILL_WRK          K
		     , TBLCH_MULTI_SEQ Z1
		WHERE  A.HOPE_APLY_YYMM  = #{billYymm} 
		AND    A.DCSN_PROC_STAT  IN ('03')       
		AND    Z.COMMON_GRP      =  'BL00043'
		AND    Z.USE_YN          = 'Y'
		AND    A.ADJ_RESN_CD     = Z.COMMON_CD
		AND    B.ADJ_NO          = A.ADJ_NO      -- 조정번호
		AND    B.SO_ID           = #{soId}
		AND    B.ADJ_APPL_AMT   != 0
		AND    C.CTRT_ID         = B.CTRT_ID
		AND    C.SO_ID           = B.SO_ID
		AND    C.INACT_DTTM      LIKE '9999123123595%'
		AND    C.PROD_CMPS_ID    = B.PROD_CMPS_ID
		AND    C.SVC_CMPS_ID     = B.SVC_CMPS_ID
		AND    J.SO_ID           = C.SO_ID
		AND    J.PROD_CD         = C.PROD_CD
		AND    J.ACT_DT         &lt;= CONCAT(CASE A.ADJ_PT WHEN '2' THEN B.USE_YYMM ELSE #{billYymm} END, '01')
		AND    J.INACT_DT       &gt;= CONCAT(CASE A.ADJ_PT WHEN '2' THEN B.USE_YYMM ELSE #{billYymm} END, '01')
		AND    K.BILL_SEQ_NO     LIKE CONCAT(SUBSTR(#{billYymm},3,2), '%')  /* 청구년월, 사용월은 현재월 기준으로 처리한다  */ /* CONCAT로 수정 2020.07.30 HAN */
		AND    K.USE_YYMM        = #{useYymm}
		AND    K.PROD_CMPS_ID    = B.PROD_CMPS_ID
		AND    K.SVC_CMPS_ID     = B.SVC_CMPS_ID
		AND    K.CHRG_ITM_CD     = B.CHRG_ITM_CD
		AND    K.SO_ID           = B.SO_ID
		AND    Z1.SO_ID          = #{soId}
		AND    Z1.GUBUN          = '2'
		AND    Z1.P_SEQ          = #{pSeq}
		AND    A.PYM_ACNT_ID    &gt;= Z1.STRT_NO
		AND    A.PYM_ACNT_ID    &lt;= Z1.END_NO
		GROUP  BY A.ADJ_NO
		        , K.BILL_SEQ_NO
		        , A.ADJ_PT
		        , B.USE_YYMM
		        , B.PROD_CMPS_ID
		        , B.SVC_CMPS_ID
		        , B.CHRG_ITM_CD
		        , B.SO_ID
		        , B.GRP_ID
		        , A.PYM_ACNT_ID
		        , C.CUST_ID
		        , B.CTRT_ID
		        , J.PROD_CD
		        , J.SVC_CD
		        , J.PROD_GRP
		        , J.SVC_GRP
		        , J.USE_MM_TYP
		        , B.CRNCY_CD
	</select>
	
	<update id="updateAdjBeforeBill">
    UPDATE TBLIV_BILL_WRK
    SET    ADJ_AMT      = BILL_AMT * (-1)
         , BILL_AMT     = 0
         , WON_BILL_AMT = 0
         , INPT_MENU_ID = #{inptMenuId}
         , CHGR_ID      = #{chgrId}
         , CHG_DATE     = #{chgDate}
    WHERE  SO_ID        = #{soId}
    AND    BILL_SEQ_NO  = #{billSeqNo}
    AND    USE_YYMM     = #{useYymm}
    AND    PROD_CMPS_ID = #{prodCmpsId}
    AND    SVC_CMPS_ID  = #{svcCmpsId}
    AND    CHRG_ITM_CD  = #{chrgItmCd}
	</update>
	
	<update id="updateAdjAply">
    UPDATE TBLIV_CHRG_ADJ_APLY
    SET    DCSN_PROC_STAT = '05'
         , BILL_APLY_DT   = DATE_FORMAT(SYSDATE(), '%Y%m%d')
         , BILL_YYMM      = CASE WHEN ADJ_PT = '1' THEN DATE_FORMAT(SYSDATE(), '%Y%m') ELSE BILL_YYMM END
         , BILL_CYCL      = CASE WHEN ADJ_PT = '1' THEN '01' ELSE BILL_CYCL END
         , BILL_DT        = CASE WHEN ADJ_PT = '1' THEN #{billDt} ELSE BILL_DT END
         , BILL_SEQ_NO    = CASE WHEN ADJ_PT = '1' THEN #{billSeqNo} ELSE BILL_SEQ_NO END
         , INPT_MENU_ID   = #{inptMenuId}
         , CHGR_ID        = #{chgrId}
         , CHG_DATE       = #{chgDate}
    WHERE  ADJ_NO         = #{adjNo}
	</update>
	
	
	
	
	
	
	
	
	<select id="getAdjInfoAfterBillList" resultType="billWork">
    SELECT /* INDEX(A IX_TBLIV_CHRG_ADJ_APLY_06) */
           A.ADJ_NO
         , NULL AS BILL_SEQ_NO
         , CASE J.USE_MM_TYP WHEN '0' THEN #{billYymm} ELSE #{useYymm} END AS USE_YYMM
         , B.PROD_CMPS_ID
         , B.SVC_CMPS_ID
         , B.CHRG_ITM_CD
         , #{billYymm}           AS BILL_YYMM
         , #{billCycl}           AS BILL_CYCL
         , #{billDt}             AS BILL_DT
         , B.SO_ID
         , B.GRP_ID
         , A.PYM_ACNT_ID
         , C.CUST_ID
         , B.CTRT_ID
         , C.PROD_CD
         , J.SVC_CD
         , NULL BIZ_CL
         , J.PROD_GRP
         , J.SVC_GRP
         , J.USE_MM_TYP          AS BILL_MM_TP
         , '01' SALE_TP
         , #{payDueDt}           AS PAY_DUE_DT
         , 'N'                   AS FULL_PAY_YN
         , CASE WHEN MAX(C.ORG_ID) IS NULL THEN 'CCBS' ELSE MAX(C.ORG_ID) END AS ATRT_CORP_ID
         , CASE WHEN MAX(C.USR_ID) IS NULL THEN ' '    ELSE MAX(C.USR_ID) END AS ATRT_EMP_ID
         , B.CRNCY_CD
         , MAX(B.EXRATE)         AS EXRATE
         , MAX(B.EXRATE_APLY_DT) AS EXRATE_APLY_DT
         , 'N'  DEBT_PROC_YN
         , SUM(B.ADJ_APPL_AMT)   AS ADJ_APPL_AMT
         , 'NBliv01m08' CHGR_ID
    FROM   TBLIV_CHRG_ADJ_APLY A
         , TBLIV_CHRG_ADJ_APLY_DTL B
         , IFNBRM_CTRT_INFO C
         , IFNBRM_PROD_INFO J
         , TSYCO_CODE_DETAIL Z
         , TBLCH_MULTI_SEQ Z1
    WHERE  A.HOPE_APLY_YYMM &lt;= #{billYymm}
    AND    A.DCSN_PROC_STAT  IN ('03','12')
    AND    B.ADJ_NO          = A.ADJ_NO
    AND    B.ADJ_APPL_AMT   != 0
    AND    A.ADJ_PT          = '1'
    AND    B.SO_ID           = #{soId}
    AND    C.CTRT_ID         = B.CTRT_ID
    AND    C.SO_ID           = B.SO_ID
    AND    C.INACT_DTTM      LIKE '9999123123595%'
    AND    C.PROD_CMPS_ID    = B.PROD_CMPS_ID
    AND    C.SVC_CMPS_ID     = B.SVC_CMPS_ID
    AND    J.SO_ID           = C.SO_ID
    AND    J.PROD_CD         = C.PROD_CD
    AND    J.ACT_DT         &lt;= CONCAT(CASE A.ADJ_PT WHEN '2' THEN B.USE_YYMM ELSE #{billYymm} END, '01')
    AND    J.INACT_DT       &gt;= CONCAT(CASE A.ADJ_PT WHEN '2' THEN B.USE_YYMM ELSE #{billYymm} END, '01')
    AND    Z.COMMON_GRP      = 'BL00024'
    AND    Z.USE_YN          = 'Y'
    AND    A.ADJ_RESN_CD     = Z.COMMON_CD
    AND    Z1.SO_ID          = #{soId}
    AND    Z1.GUBUN          = '2'
    AND    Z1.P_SEQ          = #{pSeq}
    AND    A.PYM_ACNT_ID    &gt;= Z1.STRT_NO
    AND    A.PYM_ACNT_ID    &lt;= Z1.END_NO
    GROUP  BY A.ADJ_NO
            , A.ADJ_PT
            , B.USE_YYMM
            , B.PROD_CMPS_ID
            , B.SVC_CMPS_ID
            , B.CHRG_ITM_CD
            , B.SO_ID
            , B.GRP_ID
            , A.PYM_ACNT_ID
            , C.CUST_ID
            , B.CTRT_ID
            , C.PROD_CD
            , J.SVC_CD
            , J.PROD_GRP
            , J.SVC_GRP
            , J.USE_MM_TYP
            , B.CRNCY_CD
	</select>
	
	<select id="getBillWorkForAdj">
		SELECT P.USE_YYMM
		     , P.WON_BILL_AMT
		     , P.ADJ_PRV_BILL_AMT
		     , P.ADJ_AMT
		     , P.BILL_AMT
		     , P.EXRATE
		FROM   TBLIV_BILL_WRK  P
		WHERE  P.SO_ID = #{soId}  
		AND    P.BILL_SEQ_NO = #{billSeqNo}
		AND    P.USE_YYMM = #{useYymm}
		AND    P.PROD_CMPS_ID = #{prodCmpsId}
		AND    P.SVC_CMPS_ID = #{svcCmpsId}
		AND    P.CHRG_ITM_CD = #{chrgItmCd}
		LIMIT  1
	</select>
	
	<insert id="insertBillWork">
		INSERT INTO TBLIV_BILL_WRK
		(
			BILL_SEQ_NO
			, USE_YYMM
			, PROD_CMPS_ID
			, SVC_CMPS_ID
			, CHRG_ITM_CD
			, BILL_YYMM
			, BILL_CYCL
			, BILL_DT
			, SO_ID
			, GRP_ID
			, PYM_ACNT_ID
			, CUST_ID
			, CTRT_ID
			, PROD_CD
			, SVC_CD
			, BIZ_CL
			, PROD_GRP
			, SVC_GRP
			, BILL_MM_TP
			, SALE_TP
			, USG_CNT
			, USG_AMT
			, ADJ_PRV_BILL_AMT
			, ADJ_AMT
			, BILL_AMT
			, PAY_DUE_DT
			, RCPT_AMT
			, FULL_PAY_YN
			, ATRT_CORP_ID
			, ATRT_EMP_ID
			, WON_BILL_AMT
			, CRNCY_CD
			, EXRATE
			, EXRATE_APLY_DT
			, SALE_ITM_CD
			, PREPAY_OCC_SEQ_NO
			, PREPD_CTRT_ID
			, INPT_MENU_ID
			, REGR_ID
			, REG_DATE
			, CHGR_ID
			, CHG_DATE
			, DEBT_PROC_YN
		)
		VALUES
		(
			#{billSeqNo}
			, #{useYymm}
			, #{prodCmpsId}
			, #{svcCmpsId}
			, #{chrgItmCd}
			, #{billYymm}
			, #{billCycl}
			, #{billDt}
			, #{soId}
			, #{grpId}
			, #{pymAcntId}
			, #{custId}
			, #{ctrtId}
			, #{prodCd}
			, #{svcCd}
			, #{bizCl}
			, #{prodGrp}
			, #{svcGrp}
			, #{billMmTp}
			, #{saleTp}
			, 0
			, 0
			, 0
			, #{adjApplAmt}
			, #{adjApplAmt}
			, #{payDueDt}
			, 0
			, #{fullPayYn}
			, #{atrtCorpId}
			, #{atrtEmpId}
			, #{wonBillAmt}
			, #{crncyCd}
			, #{exrate}
			, #{exrateAplyDt}
			, #{saleItmCd}
			, #{prepayOccSeqNo}
			, #{prepdCtrtId}
			, #{inptMenuId}
			, #{regrId}
			, now()
			, #{chgrId}
			, now()
			, #{debtProcYn}
		)
	</insert>

	<update id="updateAdjAfterBill"> 
    UPDATE TBLIV_BILL_WRK
    SET    BILL_AMT     = BILL_AMT     + #{adjApplAmt}
         , ADJ_AMT      = ADJ_AMT      + #{adjApplAmt}
         , WON_BILL_AMT = WON_BILL_AMT + #{adjApplAmt}
         , INPT_MENU_ID = #{inptMenuId}
         , CHGR_ID      = #{chgrId}
         , CHG_DATE     = #{chgDate}
    WHERE  BILL_SEQ_NO  = #{billSeqNo}
    AND    USE_YYMM     = #{useYymm}
    AND    PROD_CMPS_ID = #{prodCmpsId}
    AND    SVC_CMPS_ID  = #{svcCmpsId}
    AND    CHRG_ITM_CD  = #{chrgItmCd}
    AND    SO_ID        = #{soId}
	</update>
	
	
</mapper>