<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntels.ccbs.batch.py.dao.mapper.DepositMapper">

	<!-- 건별입금등록를 건별입금내역에 등록한다. -->
	<insert id="insertEachDeposit">
		INSERT INTO TBLPY_EACH_DPST
		(
		    EACH_DPST_SEQ
		    , DPST_CL
		    , CASH_DPST_CL
		    , DPST_DT
		    , DPST_AMT
		    , DPST_FEE_TP
		    , FEE_AMT
		    , BILL_SEQ_NO
		    , SO_ID
		    , GRP_ID
		    , PYM_ACNT_ID
		    , CUST_ID
		    , CTRT_ID
		    , SMRY
		    , DPST_BNK_ACNT_CD
		    , TRANS_DT
		    , DPST_PROC_DT
		    , DPST_SEQ_NO
		    , WON_DPST_AMT
		    , RCPT_EMP_ID
		    , RCPT_BILL_EMP_ID
		    , CRNCY_CD
		    , EXRATE
		    , EXRATE_APLY_DT
		    , REGR_ID
		    , REG_DATE
		)
		VALUES
		(
			#{eachDeposit.eachDpstSeq}
			, #{eachDeposit.dpstCl}
			, #{eachDeposit.cashDpstCl}
			, #{eachDeposit.dpstDt}
			, #{eachDeposit.dpstAmt}
			, #{eachDeposit.dpstFeeTp}
			, #{eachDeposit.feeAmt}
			, #{eachDeposit.billSeqNo}
			, #{eachDeposit.soId}
			, #{eachDeposit.grpId}
			, #{eachDeposit.pymAcntId}
			, #{eachDeposit.custId}
			, #{eachDeposit.ctrtId}
			, #{eachDeposit.smry}
			, #{eachDeposit.dpstBnkAcntCd}
			, #{eachDeposit.transDt}
			, '00000000'
			, #{eachDeposit.dpstSeqNo}
			, #{eachDeposit.wonDpstAmt}
			, #{eachDeposit.rcptEmpId}
			, #{eachDeposit.rcptBillEmpId}
			, #{eachDeposit.crncyCd}
			, #{eachDeposit.exrate}
			, #{eachDeposit.exrateAplyDt}
			, #{eachDeposit.regrId}
			, #{eachDeposit.regDate}
		)
	</insert>
	
	<select id="getEachDeposit" resultType="EachDeposit">
		SELECT
		     BILL_SEQ_NO
		     , TRANS_DT
		     , SO_ID
		     , GRP_ID
		     , PYM_ACNT_ID
		     , CUST_ID
		     , CTRT_ID
		     , DPST_DT
		     , DPST_CL
		     , EACH_DPST_SEQ
		     , DPST_AMT
		     , DPST_BNK_ACNT_CD
		     , FEE_AMT
		     , WON_DPST_AMT
		     , CRNCY_CD
		     , EXRATE
		     , EXRATE_APLY_DT
		     , REGR_ID
		FROM
		     TBLPY_EACH_DPST
		WHERE EACH_DPST_SEQ = #{eachDeposit.eachDpstSeq}
	</select>
	
	<insert id="insertDeposit">
		INSERT INTO TBLPY_DPST
		(
		     DPST_SEQ_NO
		     , BILL_SEQ_NO
		     , TRANS_DT
		     , DPST_PROC_DT
		     , SO_ID
		     , GRP_ID
		     , PYM_ACNT_ID
		     , CUST_ID
		     , CTRT_ID
		     , DPST_DT
		     , DPST_TP
		     , DPST_CL
		     , DPST_TP_SEQ_NO
		     , PAY_CORP_TP
		     , PAY_CORP_CD
		     , ACNT_CARD_NO
		     , DPST_AMT
		     , DPST_BNK_ACNT_CD
		     , FEE_AMT
		     , PAY_PROC_YN
		     , PAY_PROC_DT
		     , AMBG_TGT_YN
		     , WON_DPST_AMT
		     , CRNCY_CD
		     , EXRATE
		     , EXRATE_APLY_DT
		     , CNCL_YN
		     , PAY_CNCL_YN
		     , REG_DATE
		     , PREPAY_TGT_YN
		     , REGR_ID
		)
		VALUES
		(
		     #{deposit.dpstSeqNo,jdbcType=VARCHAR}
		     , #{deposit.billSeqNo,jdbcType=VARCHAR}
		     , #{deposit.transDt,jdbcType=VARCHAR}
		     , #{deposit.dpstProcDt,jdbcType=VARCHAR}
		     , #{deposit.soId,jdbcType=VARCHAR}
		     , #{deposit.grpId,jdbcType=VARCHAR}
		     , #{deposit.pymAcntId,jdbcType=VARCHAR}
		     , #{deposit.custId,jdbcType=VARCHAR}
		     , #{deposit.ctrtId,jdbcType=VARCHAR}
		     , #{deposit.dpstDt,jdbcType=VARCHAR}
		     , #{deposit.dpstTp,jdbcType=VARCHAR}
		     , #{deposit.dpstCl,jdbcType=VARCHAR}
		     , #{deposit.dpstTpSeqNo,jdbcType=VARCHAR}
		     , #{deposit.payCorpTp,jdbcType=VARCHAR}
		     , #{deposit.payCorpCd,jdbcType=VARCHAR}
		     , #{deposit.acntCardNo,jdbcType=VARCHAR}
		     , #{deposit.dpstAmt,jdbcType=DOUBLE}
		     , #{deposit.dpstBnkAcntCd,jdbcType=VARCHAR}
		     , #{deposit.feeAmt,jdbcType=DOUBLE}
		     , #{deposit.payProcYn,jdbcType=VARCHAR}
		     , #{deposit.payProcDt,jdbcType=VARCHAR}
		     , #{deposit.ambgTgtYn,jdbcType=VARCHAR}
		     , #{deposit.wonDpstAmt,jdbcType=DOUBLE}
		     , #{deposit.crncyCd,jdbcType=VARCHAR}
		     , #{deposit.exrate,jdbcType=DOUBLE}
		     , #{deposit.exrateAplyDt,jdbcType=VARCHAR}
		     , #{deposit.cnclYn,jdbcType=VARCHAR}
		     , #{deposit.payCnclYn,jdbcType=VARCHAR}
		     , #{deposit.regDate,jdbcType=DATE}
		     , #{deposit.prepayTgtYn,jdbcType=VARCHAR}
		     , #{deposit.regrId,jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="updateEachDeposit">
		UPDATE TBLPY_EACH_DPST
		<set>
			<if test="eachDeposit.dpstProcDt != null">
				DPST_PROC_DT = #{eachDeposit.dpstProcDt},
			</if>
		</set> 
		WHERE  EACH_DPST_SEQ = #{eachDeposit.eachDpstSeq}
	</update>
	
	<select id="getDpstAmt" resultType="double">
		SELECT DPST_AMT
		FROM TBLPY_DPST
		WHERE DPST_SEQ_NO = #{dpstSeqNo}
	</select>
	
	<!-- 보증금발생 이력을 저장하기 위해 참조하는 Dpst를 가져온다. -->
	<select id="getDepositForAssrOcc" resultType="Deposit">
		SELECT
			SO_ID
			, PYM_ACNT_ID
			, DPST_DT
			, DPST_CL
			, TRANS_DT
		FROM
			TBLPY_DPST
		WHERE DPST_SEQ_NO = #{dpstSeqNo}
	</select>
	
	<select id="getDepositForRcpt" resultType="Deposit">
		SELECT
			DPST_SEQ_NO
			, PYM_ACNT_ID
			, DPST_PROC_DT
			, DPST_DT
			, DPST_CL
			, CRNCY_CD
			, EXRATE
			, EXRATE_APLY_DT
			, CNCL_YN
			, TRANS_DT
			, SO_ID
			, REGR_ID
		FROM TBLPY_DPST
		WHERE DPST_SEQ_NO = #{dpstSeqNo}
	</select>
	
	<select id="getDepositForCancel" resultType="Deposit">
		SELECT
		     DPST_TP
		     , PAY_PROC_YN
		     , CNCL_YN
		FROM TBLPY_DPST
		WHERE DPST_SEQ_NO = #{dpstSeqNo}
	</select>
	
	<update id="updateCnclYn">
		UPDATE TBLPY_DPST SET CNCL_YN = #{cnclYn}
		WHERE DPST_SEQ_NO = #{dpstSeqNo}
	</update>
	
	<update id="updatePayProcDt">
		UPDATE TBLPY_DPST SET
			PAY_PROC_YN = 'Y'
			, PAY_PROC_DT = #{payProcDt}
		WHERE DPST_SEQ_NO = #{dpstSeqNo}
	</update>

	<update id="updateDepositBatchReceipt">
		UPDATE TBLPY_DPST SET 
		     PAY_PROC_YN = 'Y'
		     , AMBG_TGT_YN = #{ambgTgtYn}
		     , PAY_PROC_DT = #{payProcDt}
		     , PREPAY_TGT_YN = #{prepayTgtYn}
		WHERE DPST_SEQ_NO = #{dpstSeqNo}
		     AND PAY_PROC_YN = 'N'
	</update>
	
	<!-- TBLPY_DPST_CNCL에 등록할 데이터를 조회한다. -->
	<select id="getDepositCancelInfo" resultType="DepositCancel">
		SELECT
		     DPST_SEQ_NO
		     , BILL_SEQ_NO
		     , TRANS_DT
		     , DPST_PROC_DT
		     , SO_ID
		     , GRP_ID
		     , PYM_ACNT_ID
		     , CUST_ID
		     , CTRT_ID
		     , DPST_DT
		     , DPST_TP
		     , DPST_CL
		     , DPST_TP_SEQ_NO
		     , PAY_CORP_TP
		     , PAY_CORP_CD
		     , ACNT_CARD_NO
		     , DPST_AMT
		     , FEE_AMT
		     , PAY_PROC_YN
		     , PAY_PROC_DT
		     , AMBG_TGT_YN
		     , WON_DPST_AMT
		     , CRNCY_CD
		     , EXRATE
		     , EXRATE_APLY_DT
		     , REGR_ID
		FROM TBLPY_DPST
		WHERE DPST_SEQ_NO = #{dpstSeqNo}
		     AND CNCL_YN = 'Y'
	</select>
	
	<insert id="insertDepositCancel">
		INSERT INTO TBLPY_DPST_CNCL
		(
		     DPST_SEQ_NO
		     , BILL_SEQ_NO
		     , TRANS_DT
		     , DPST_PROC_DT
		     , SO_ID
		     , GRP_ID
		     , PYM_ACNT_ID
		     , CUST_ID
		     , CTRT_ID
		     , DPST_DT
		     , DPST_TP
		     , DPST_CL
		     , DPST_TP_SEQ_NO
		     , PAY_CORP_TP
		     , PAY_CORP_CD
		     , ACNT_CARD_NO
		     , DPST_AMT
		     , FEE_AMT
		     , PAY_PROC_YN
		     , PAY_PROC_DT
		     , AMBG_TGT_YN
		     , WON_DPST_AMT
		     , CRNCY_CD
		     , EXRATE
		     , EXRATE_APLY_DT
		     , CNCLR_ID
		     , CNCL_DTTM
		     , CNCL_RESN
		     , REG_DATE
		     , REGR_ID
		)
		VALUES
		(
		     #{depositCancel.dpstSeqNo,jdbcType=VARCHAR}
		     , #{depositCancel.billSeqNo,jdbcType=VARCHAR}
		     , #{depositCancel.transDt,jdbcType=VARCHAR}
		     , #{depositCancel.dpstProcDt,jdbcType=VARCHAR}
		     , #{depositCancel.soId,jdbcType=VARCHAR}
		     , #{depositCancel.grpId,jdbcType=VARCHAR}
		     , #{depositCancel.pymAcntId,jdbcType=VARCHAR}
		     , #{depositCancel.custId,jdbcType=VARCHAR}
		     , #{depositCancel.ctrtId,jdbcType=VARCHAR}
		     , #{depositCancel.dpstDt,jdbcType=VARCHAR}
		     , #{depositCancel.dpstTp,jdbcType=VARCHAR}
		     , #{depositCancel.dpstCl,jdbcType=VARCHAR}
		     , #{depositCancel.dpstTpSeqNo,jdbcType=VARCHAR}
		     , #{depositCancel.payCorpTp,jdbcType=VARCHAR}
		     , #{depositCancel.payCorpCd,jdbcType=VARCHAR}
		     , #{depositCancel.acntCardNo,jdbcType=VARCHAR}
		     , #{depositCancel.dpstAmt}
		     , #{depositCancel.feeAmt}
		     , #{depositCancel.payProcYn,jdbcType=VARCHAR}
		     , #{depositCancel.payProcDt,jdbcType=VARCHAR}
		     , #{depositCancel.ambgTgtYn,jdbcType=VARCHAR}
		     , #{depositCancel.wonDpstAmt}
		     , #{depositCancel.crncyCd,jdbcType=VARCHAR}
		     , #{depositCancel.exrate}
		     , #{depositCancel.exrateAplyDt,jdbcType=VARCHAR}
		     , #{depositCancel.cnclrId,jdbcType=VARCHAR}
		     , #{depositCancel.cnclDttm,jdbcType=VARCHAR}
		     , #{depositCancel.cnclResn,jdbcType=VARCHAR}
		     , #{depositCancel.regDate}
		     , #{depositCancel.regrId,jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="updateAmngTgtYn">
		UPDATE TBLPY_DPST SET AMBG_TGT_YN = 'Y' WHERE DPST_SEQ_NO = #{dpstSeqNo}
	</update>
	
	<!-- 일괄 수납처리를 위한 입금내역 조회 -->
	<select id="getDepositListForBatchReceipt" resultType="Deposit">
		SELECT
		     A.DPST_SEQ_NO AS DPST_SEQ_NO
		     , A.BILL_SEQ_NO AS BILL_SEQ_NO
		     , A.TRANS_DT AS TRANS_DT
		     , A.DPST_PROC_DT AS DPST_PROC_DT
		     , A.SO_ID AS SO_ID
		     , A.GRP_ID AS GRP_ID
		     , A.PYM_ACNT_ID AS PYM_ACNT_ID
		     , A.CUST_ID AS CUST_ID
		     , A.CTRT_ID AS CTRT_ID
		     , A.DPST_DT AS DPST_DT
		     , A.DPST_TP AS DPST_TP
		     , A.DPST_CL AS DPST_CL
		     , A.DPST_TP_SEQ_NO AS DPST_TP_SEQ_NO
		     , A.PAY_CORP_TP AS PAY_CORP_TP
		     , A.PAY_CORP_CD AS PAY_CORP_CD
		     , A.ACNT_CARD_NO AS ACNT_CARD_NO
		     , A.DPST_AMT AS DPST_AMT
		     , A.DPST_BNK_ACNT_CD AS DPST_BNK_ACNT_CD
		     , A.FEE_AMT AS FEE_AMT
		     , A.PAY_PROC_YN AS PAY_PROC_YN
		     , A.PAY_PROC_DT AS PAY_PROC_DT
		     , A.AMBG_TGT_YN AS AMBG_TGT_YN
		     , A.WON_DPST_AMT AS WON_DPST_AMT
		     , A.CRNCY_CD AS CRNCY_CD
		     , A.EXRATE AS EXRATE
		     , A.EXRATE_APLY_DT AS EXRATE_APLY_DT
		     , A.CNCL_YN AS CNCL_YN
		     , B.PYM_ACNT_ID AS CHECK_PYM_ACNT_ID
		     , CASE A.DPST_CL 
		          WHEN '01' THEN D.BILL_YYMM
		          WHEN '02' THEN E.BILL_YYMM
		          WHEN '04' THEN '20' || SUBSTR(A.BILL_SEQ_NO, 1,4)
		          WHEN '05' THEN G.BILL_YYMM END AS BILL_YYMM
		FROM TBLPY_DPST A
		     LEFT JOIN TBLPY_JIRO_WTDRAW_RSLT D ON A.DPST_TP_SEQ_NO = D.JIRO_WTDRAW_SEQ_NO
		     LEFT JOIN TBLPY_ATMT_WTDRAW_REQ_RSLT E ON A.DPST_TP_SEQ_NO = E.ATMT_WTDRAW_SEQ_NO
		     LEFT JOIN TBLPY_CDTCD_WTDRAW_REQ_RSLT G ON A.DPST_TP_SEQ_NO = G.CARD_WTDRAW_SEQ_NO
		     , IFNBRM_CUST_INFO B
		WHERE A.PAY_PROC_YN = 'N'
		     AND A.AMBG_TGT_YN = 'N'
		     AND A.CNCL_YN = 'N'
		     AND A.PAY_CNCL_YN = 'N'
		     AND A.DPST_TP = '1'
		     AND A.PYM_ACNT_ID = B.PYM_ACNT_ID
		     AND MOD(CAST(CASE WHEN A.PYM_ACNT_ID IS NULL THEN '0' ELSE A.PYM_ACNT_ID END AS INT), #{parallelCnt}) = #{parallelNo} - 1
		     AND A.DPST_CL NOT IN ('30','04')
	</select>

</mapper>